<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Ingredient</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>

</head>
<body>
<h1>Create Ingredient:</h1>

<form th:action="@{/addIngredient}"
      th:object="${ingredientForm}" method="POST">
    Ingredient Name:
    <input type="text" th:field="*{ingredientName}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<div>
    <table border="1">
        <tr>
            <th>IngredientName</th>
        </tr>
        <tr th:each="ingredient : ${ingredient}">
            <td th:utext="${ingredient.ingredientName}">...</td>
        </tr>
    </table>
</div>

</body>
</html>