<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Witkowski Website</title>
</head>
<body>
<div th:style="'padding: 16px'">
    <div>
        <h5><b>Przemysław Witkowski</b></h5>
        </br>
        <h6>I am beginning java programmer seeking for opportunity to get my first job in IT world.</h6>
    </div>
    </br>
    <div>
        <h6>
            <small>Currently I work in GATX Rail Poland company which is leading leasing railway company in Europe.
            </small>
        </h6>
        <h6>
            <small>I am working as Technical Specialist in sales department where I am first face to client concerning
                all kinds of
                defects which can occur on freight wagon fleet.
            </small>
        </h6>
        <h6>
            <small>Despite my daily work I am involved in several projects which aim is to adapt the software to user's
                requirements. I work there in an international teams with people from Germany and Austria.
            </small>
        </h6>
        <h6>
            <small>Other type of project is developing of telematic portal where you can track the location of wagons,
                set alarms,
                monitor parameters etc. I am key user which one of roles is to provide trainings to clients or help
                colleagues
                at work.
            </small>
        </h6>

    </div>
    </br>
    <div>
        <h6>Why me?</h6>

        <h6>
            <small>Because I like my new IT knowledge and it increases day by day.</small>
        </h6>
        <h6>
            <small>I have always wanted to gain knowledge about "digital" world.</small>
        </h6>
        <h6>
            <small>Now when I finished programming course and I have some basics I am trying to increase my knowledge
                and
                experience during daily work.
            </small>
        </h6>
        <h6>
            <small>I am strongly motivated and enthusiastic about new work desk.</small>
        </h6>

    </div>
    </br>
    <div>
        <h6>Below you can find link to my smart project.</h6>
        <h6>
            <small>It is a place where you can save your recipes.</small>
        </h6>
        <h6>
            <small>I have created this using Spring Boot, Hibernate, MySql, Thymeleaf, Bootstrap.</small>
        </h6>
    </div>
    </br>
    <div>
        <h6>Short ToDo list:</h6>
        <h6>
            <small>Bootstrap configure to have more friendly lookout</small>
        </h6>
        <h6>
            <small>Search possibility</small>
        </h6>
        <h6>
            <small>Spring Security</small>
        </h6>
        <h6>Other Bigger ToDo: module with wine recipe</h6>
        <h6>
            <small>Form to add wine recipe</small>
        </h6>
        <h6>
            <small>Form to calculate based on owned fruits quantity or planned volume</small>
        </h6>
        <h6>
            <small>Form to set up email reminders about necessary actions</small>
        </h6>
        <h6>
            <small>Export recipes to pdf file</small>
        </h6>
    </div>
    </br>
    <h6>
        <form th:action="@{/recipeList}">
            <input type="submit" value="Go and see or add some recipes"/>
        </form>
    </h6>

    </br>
    <div>
        <h6><a href="https://www.linkedin.com/in/przemys%C5%82aw-witkowski-76312a135/" target="_blank">My LinkedIn profile.</a></h6>
        <h6><a href="https://github.com/pwitko/recipeProject" target="_blank">My GitHub profile with code to this WebApp.</a></h6>
    </div>

</div>
</body>
</html>