<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ingredient List</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>

</head>
<body>
<h1>Ingredient List</h1>
<a href="addIngredient">Add Ingredient</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>IngredientName</th>
        </tr>
        <tr th:each="ingredient : ${ingredient}">
            <td th:utext="${ingredient.ingredientName}">...</td>
        </tr>
    </table>
</div>
</body>
</html>