<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe List</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
    <title>Recipe List</title>
</head>
<body>
<div th:style="'padding: 16px'">
    <h4>Recipe List</h4>

    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>Recipe Name</th>
            </tr>
            <tr th:each="recipe : ${recipeList}">
                <td th:utext="${recipe.recipeName}">...</td>
                <td>
                    <a th:href="@{/recipeProject/showRecipe/{id}(id=${recipe.id})}">show</a>
                </td>
                <td>
                    <a th:href="@{/recipeProject/deleteRecipe/{recipeId}(recipeId=${recipe.id})}">delete</a>
                </td>
            </tr>
        </table>
        <br/>
        <a href="/recipeProject/addRecipe">Add Recipe</a>
    </div>
</div>
</body>
</html>